<div class="container">
  <nav class="navbar navbar-default">
   <h1>About Kanamoritter</h1> 
   <div class="container-fluid">
    <p>Kanamoritterを一言で表すと、ひとりごとのつぶやきアプリです。
       つぶやきを投稿することで、毎日の気づきを皆で共有しましょう。</p>
   </div>
   　<h2>Kanamoritter 投稿条件</h2>
    <p class="checkbox">
      <input type="checkbox">
      投稿は1文字以上140文字以下でつぶやくこと。
      <br>
      <input type="checkbox">
      虚偽や暴言を投稿しないこと。
      </br>
    </p>
  </nav>
</div>
